<!DOCTYPE html>

<html>
    <head>
        <base href="/"> 
        <link href="css/widget.grouping.min.css" rel="stylesheet">
        <link href="css/theme.blue.css" rel="stylesheet">
        <link href="css/widget.grouping.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="js/jquery.tablesorter.js"></script>
        <script src="js/jquery.tablesorter.widgets.js"></script>
        <script src="js/widgets/widget-grouping.min.js"></script>
        <script src="js/custom.js"></script>
    </head>
    <body>
        <div class="createTable">
            <table class="tablesorter" data-sortlist="[[4,1]]">
                <thead>
                    <tr>
                        <th></th>
                        <th>Priority</th>
                        <th>Status</th>
                        <th>Price</th>
                        <th class="group-word">Order Data</th>
                    </tr>
                </thead>
                <tbody>
                
                    <tr><td>Good Toys</td><td>USA</td><td>USA</td><td></td><td>USA</td></tr>
                    <tr><td>Cycle Clearance</td><td>FRANCE</td><td>USA</td><td></td><td>UK</td></tr>
                    <tr><td>Cycle Initial Bike Company</td><td>USA</td><td>USA</td><td></td><td>UK</td></tr>
                    <tr><td>Sports Store</td><td>USA</td><td>USA</td><td></td><td>INDIA</td></tr>
                    <tr><td>Locks Company</td><td>UK</td><td>USA</td><td></td><td>USA</td></tr>
                    <tr><td>Famous Bike Shop</td><td>USA</td><td>USA</td><td></td><td>USA</td></tr>
                    <tr><td>Good Toys</td><td>USA</td><td>USA</td><td></td><td>USA</td></tr>
                    <tr><td>Cycle Clearance</td><td>FRANCE</td><td>USA</td><td></td><td>UK</td></tr>
                    <tr><td>Cycle Initial Bike Company</td><td>USA</td><td>USA</td><td></td><td>UK</td></tr>
                    <tr><td>Sports Store</td><td>USA</td><td>USA</td><td></td><td>INDIA</td></tr>
                    <tr><td>Locks Company</td><td>UK</td><td>USA</td><td></td><td>USA</td></tr>
                    <tr><td>Famous Bike Shop</td><td>USA</td><td>USA</td><td></td><td>USA</td></tr>
                
                </tbody>
            </table>
        </div>
        

        <input type="button" onclick="changeGrouping()" value="Click To Change Grouping" />

        <script>
            triggerTableSorter();
        </script>
    </head>
    </body>
</html>