<!DOCTYPE html>

<html>
    <head>
        <base href="/"> 
        <link href="css/widget.grouping.min.css" rel="stylesheet">
        <link href="css/theme.blue.css" rel="stylesheet">
        <link href="css/widget.grouping.min.css" rel="stylesheet">
        <link href="css/custom.css" rel="stylesheet">

        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js"></script>
        <script src="js/jquery.tablesorter.js"></script>
        <script src="js/jquery.tablesorter.widgets.js"></script>
        <script src="js/widgets/widget-grouping.min.js"></script>
        <script src="js/custom.js"></script>
    </head>
    <body>
        
        <input type="text" value="4" class="groupingValue" style="margin-right: 20px;" />
        <input type="button" onclick="updateTableSorter(2)" value="Click To Change Grouping" /><br><br>
        
        <div class="createTable">
        </div><br><br>
        
        <input type="button" onclick="createTable()" value="Click To Change Grouping" /><br><br>

    </head>
    </body>
</html>